* {
	padding: 0;
	margin: 0;
}

html, body {
	height: 100%;
	width: 100%;
}

header {
	background: $blu;
	height: 3.5em;
	position: relative;

	.title {
		font: 400 2.5em $quicksand-stack;
		color: lighten($lite-blu, 30);
		text-align: right;

		padding: .075em .3em 0 0;

		h1.title {
			margin-bottom: 0;
		}

		em {
			color: $yello;
			font-style: normal;
			font-weight: 300;
		}
	}

	.menu-icon {
		position: absolute;
		left: 1em;
		top: .75em;
		width: 2em; 

		img {
			width: 100%;
		}
	}

	nav {

		.mobile-nav {
			float: right;
			display: none;
			padding: 1.05em 1em 0 0;
		}

		ul.mobile {
			display: none;
			padding: 0;
			margin: -15px 0 13px 0;
			float: left;
			width: 100%;
			background: $dark-grey;
			border-bottom: 3px $blu solid;

			li {
				width: 100%;
				list-style: none;
				text-align: center;
				padding: .75em 0;

				border-bottom: 1px darken($dark-grey, 10%) solid;

				a {
					display: inline-block;
					width: 100%;
				}

				@include transition(background);

				&:hover {
					background: darken($dark-grey, 10%);
				}
			}
		}
	}
}

.core {
	color: white;
	background: $dark-grey;
	font-family: $open-sans-stack;

	max-width: 540px;
	margin: 0 auto;
	padding: 0;
}

.content {
	padding: .75em 1.25em;
}

h1 {
	font-weight: 300;
	text-align: center;
	margin-bottom: .5em; 
}

.wrapper {
	min-height: 100%;
	margin: 0 auto -1px;

	/* IE 6 support */
	height: auto !important; 
	height: 100%;
}

footer, .push {
	height: 1px;
}