// Main colors

$dark-grey: #24221F;
$dark-blu: #363F45;
$blu: #4B5F6D;
$lite-blu: #5E7C88;
$yello: #FEB41C;

// Fonts

$quicksand-stack: Quicksand, Tahoma, sans-serif;
$open-sans-stack: "Open Sans", Tahoma, sans-serif;