.trigger {
	background: $blu;

	width: 90%;
	margin: .75em auto;
	border-radius: .4em;
	padding-bottom: 1em;
	position: relative;

	.title {
		font: 300 1.2em $open-sans-stack;
		margin-bottom: .75em;
		padding: 5%;

		em {
			font-style: normal;
			color: $yello;
		}

		p {
			width: 90%;
		}

		.x {
			font-size: 1.5em;
			float: right;
			width: .25em;
			height: .25em;
			position: absolute;
			top: .18em;
			right: .75em;
		}
	}

	.trigger-img, .action-img {
		width: 20%;
		display: inline-block;

		img {
			width: 100%;
		}
	}

	.trigger-img {
		margin-left: 10%;
	}
	.action-img {
		margin-right: 10%;
	}

	.arrow-area {
		width: 37%;
		display: inline-block;

		.arrow {
			width: 54%;
			margin: 0 auto;

			img {
				width: 100%;
			}
		}
	}

 .add {
		font: 300 3em $quicksand-stack;
		text-align: center;
		
	}
}

// Gah I know there's a selector for this #lazy
.trigger.last {
	padding-bottom: 0;
}

a {
	color: $yello;
	text-decoration: none;
}
