.trigger {
	background: $blu;

	width: 90%;
	margin: .75em auto;
	padding: 2%;
	border-radius: .4em;
	position: relative;

	.title {
		font: 300 1.2em $open-sans-stack;
		margin-bottom: .75em;

		em {
			font-style: normal;
			color: $yello;
		}
	}

	.trigger-img, .action-img {
		width: 20%;
		height: 20px;
		display: inline-block;
		background: white;
	}

	.arrow-area {
		width: 56%;
		display: inline-block;

		.arrow {
			width: 25%;
			height: 20px;
			margin: 0 auto;
			background: white;
		}
	}
}